.dashboard {
    margin: 20px;
}

.card {
    height: 100%;
}

.card.trend {
    background: yellow;
}

.card thead th {
    height: 0;
}

table.card {
    width: inherit;
    overflow-x: hidden;
}

table.card > tbody > tr > td {
    vertical-align: top;
}

.card tbody tr td {
    width: 100%;
}

.card .content {
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.card.over {
    outline: 3px solid black;
}

.card .container {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.resizing .card {
    display: none
}

button.add-card {
    background-color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 15px;
    top: 40px;
    left: 5px;
}

button.add-trend {
    background-color: white;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 15px;
    top: 80px;
    left: 5px;
}

button.remove-card {
    border: 0;
    background: white;
    color: red;
    display: none;
    width: 16px;
    height: 16px;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    right: 0;
    opacity: 0.5;
}    

button.remove-card:hover {
    background: red;
    color: white;
    opacity: 1;
}  

.card:hover button {
    display: block;
}

button#toggle-edit {
    background-color: white;
    position: absolute;
    top: 5px;
    left: 0;
    width: 35px;
    height: 30px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 0;
}

.card div.card-index {
    position: absolute;
    top: 0;
    left: 3px;
}

