.tree ul {
    list-style: none;
    margin-left: 3px;
    padding-left: 3px;
}

.tree ul li li {
    white-space: nowrap;
    padding-left: 10px;
}

.tree span.member.unexported {
    color: grey;    
}

.tree div.attribute {
    white-space: nowrap;
}
.
.tree format-scalar {
    color: blue;
}

.tree .format-spectrum {
    color: green;
}

.tree .format-image {
    color: grey;
}

.tree ul li span.open::before {
    content: "▼";
    display: inline;
    padding-right: 5px;
}

.tree ul li span.closed::before {
    content: "▶"; 
    display: inline;
    font-size: smaller;
    padding-left: 5px;
    padding-right: 5px;
}
